.main{
    display: flex;
    height: 100vh;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 100vh;
    color: rgb(211, 211, 211);
}

.bodyy{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.bodyy p{
    font-size: 2vw;
    margin: 0px;
    margin-right: 1.5vw;
    font-weight: 500;
}

.bodyy span{
    opacity: 0.2;
}